extends layout 

block content 

    h1= title

    h3= bookinstance.book.title 


    p Do you really want to Delete this Book Instance?

    form(method="POST")
        div.form-group
            input#bookinstanceid.form-control(type='hidden', name='bookinstanceid', value=bookinstance._id)
        button.btn.btn-primary(type='submit') Delete